.past {
    background:"grey"
}
.current {
    background: red;
}
.future {
    background: green;
}
li {
    height: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    background-color:grey;
    color: white;
    font-size: 1.5em;
    line-height: 1.5;
    list-style-type: none;
  }
  .about{
border: black;
border-style: solid;
  }
  
table {
    border: 1px solid black;
    border-style: solid;   
  }

  .headerClass {
    border: 1px solid black;
    border-style: solid;   
  }


  .scheduleContainer {
    border: 1px solid red;
    border-style: solid;   
  }